
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0.5rem 1rem;
  background-color: #25274D; 
  color: white;
  
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; 
  width: auto;
  cursor: pointer;
  margin-left: 2rem;
}

.positionn{
    display: flex;
    gap: 3rem;
    color: white;
    padding-top: 1.3rem;
    font-size: 1.1rem;
    justify-content: right;
    padding-right: 3rem;
    
}

