.formmm-containerrr {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.formmm-group {
  margin-bottom: 10px;
}

.formmm-group label {
  display: block;
  margin-bottom: 5px;
}

.formmm-group input {
  padding: 8px;
  width: 100%;
}

.savee-buttonn {

 
  color: #25274D;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80%;
  font-size: 1rem;
 gap: 3px;
}


.name button{
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
  height: 2.2rem;
  background-color: rgb(36, 36, 66);
  color: white;

}

.name button:hover{
  cursor: pointer;
  background-color: rgb(61, 61, 107);
  color: white;    
}
.popup-content {

  height: 90vh; 
  max-height: 700px; 
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  
 
}
